@charset "UTF-8"

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 70px;
  width: 100%;
  background-color: #EC715F;
}

.header-wrapper {
  height: 70px;
  width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-wrapper > img {
  margin-right: auto;
  height: 70px;
}

.nav-item {
  padding: 0 30px;
  font-size: 16px;
  color: #FAFAFA;
  display: inline-block;
}

.main-visual-wrapper {
  height: 650px;
  width: 100%;
  background-image: url(../img/mv.png);
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  padding-top: 200px;
  margin: 0 auto;
}

.main-visual-content h2 {
  text-align: center;
  font-size: 64px;
  color: #FAFAFA;
  padding-bottom: 10px;
}

.main-visual-content p {
  text-align: center;
  font-size: 20px;
  color: #FAFAFA;
}

.portfolio-wrapper {
  width: 100%;
  background-color: #ECEFF1;
  padding-top: 90px;
  padding-bottom: 90px;
}

.portfolio-contents {
  margin: 0 auto;
  width: 920px;
} 

.portfolio-contents h4 {
  text-align: center;
  font-size: 32px;
  color: #000000;
  padding-bottom: 8px;
  line-height: 32px;
  margin: 0 auto;
  font-weight: normal;
}

.portfolio-contents hr {
  height: 3px;
  width: 70px;
  color: #EC715F;
  text-align: center;
}

.portfolio-contents p {
  padding: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #000000;
}

.portfolio-images {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-image-box {
  height: 250px;
  width: 300px;
  background-size: cover;
  background-position: center;
}

.portfolio-image-box:nth-child(1) {
  background-image: url(../img/sketch.jpg);
  margin-right: 10px;
  margin-bottom: 10px;
}

.portfolio-image-box:nth-child(2) {
  background-image: url(../img/webcamp.png);
  margin-right: 10px;
  margin-bottom: 10px;
}

.portfolio-image-box:nth-child(3) {
  background-image: url(../img/write.jpg);
  margin-bottom: 10px;
}

.portfolio-image-box:nth-child(4) {
  background-image: url(../img/websuku.png);
  margin-right: 10px;
}

.portfolio-image-box:nth-child(5) {
  background-image: url(../img/talk.jpg);
  margin-right: 10px;
}

.portfolio-image-box:nth-child(6) {
  background-image: url(../img/webcamp-mother.png);
}